.sub-title{
  font-size: 15px;
  font-weight: bold;
}

.zone-grey{
  background-color: rgb(204,204,204);
}

.btn-send{
  margin-top: 20px;
  background-color: #e8554e;
  color:white;
}

.btn-dropdown{
 background-color: #e8554e;
 color: white;
}

.btn-radio-inline{
  margin-top: 20px;
}

.saut{
  margin-top: 20px;
}
