.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .top-bar{
    border-bottom: 1px solid grey;
}

.navbar-default .top-bar ul {
  padding: 0px;
  margin: 0px;
  border-left: 1px solid grey;
}

.navbar-default .top-bar  ul li {
  display: inline-block;
  padding: 10px 15px;
  margin: 0px;
  font-size: 17px;
  border-right: 1px solid grey;
}

.navbar-default .navbar-right li{
  display: inline-block;
  padding: 10px 15px;
}

.navbar-default .navbar-left li{
  display: inline-block;
  margin-right: 50px;
}

.media-right{
  padding-right: 20px;
}

:first-child.media{
  margin-top: 10px;
}

ul li a{
   color:black;
}

.navbar-right li a{
  text-transform: uppercase;
  font-weight: bold;
}

.ligne{
  border-bottom: 3px solid rgb(230,230,230);

}

.colone{
  border-right: 3px solid rgb(230,230,230);
}

.logo {
  width:200px;
  height:50px;
}

.slider {
  width: 100%;
  height: 100%;
  margin:auto;
  padding: auto;
}

.saut{
  margin-top: 26px;
  padding-bottom: 26px;
}

blockquote{
  border:0px;
}

q {
  quotes: "“" "”";
}
q:before {
    content: open-quote;
    font-family: "fontello";
    font-size: 20px;
    margin-right: 10px;
}

q:after {
    content: none;
}

.commentaire{
  background-color: rgb(255,255,255);
}

.triangle-before:before{
content:'';
display: block;
position: absolute;
top:20px;
left:103px;
width:0px;
height:0px;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-right: 10px solid #FFF;
}

.triangle-after:after{
content:'';
display: block;
position: absolute;
top:20px;
right:123px;
width:0px;
height:0px;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 10px solid #FFF;
}

.presentation{
  font-size: 9px;
  text-align: center;
}

.makeSomething{
  background-image: url("images/makeSomething.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 300px;
}

.fond{
  background-color: rgb(243,243,243);
  padding-top: 25px;
}

.fondBlanc{
  background-color: rgb(255,255,250);
  padding-top: 25px;
}

.fondFooter{
  background-color: rgb(38,40,47);
}

.footer{
  background-color: rgb(38,43,47);
  color: white;
}

.btn-blue{
  color:white;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-red{
  color:white;
  background-color: #e8554e;
  border-color: #e8554e;
}

.btn-white{
  color:#337ab7;
  background-color: white;
  border-color: #337ab7;
}

.btn-black{
  color:white;
  background-color: #384045;
  border-color: #384845;
}
