.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-right li{
  display: inline-block;
  padding: 10px 15px;
}

.navbar-default .navbar-left li{
  display: inline-block;
  margin-right: 50px;
}


.saut{
  margin-top: 26px;
  padding-bottom: 26px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

:first-child.media{
  margin-top: 10px;
}

.footer .media-right{
  padding-right: 20px;
}

.pad-right{
  padding-right: 20px;
}

blockquote{
  border:0px;
}

q {
  quotes: "“" "”";
}
q:before {
    content: open-quote;
    font-family: "fontello";
    font-size: 20px;
    margin-right: 10px;
}

q:after {
    content: none;
}

.commentaire{
  background-color: rgb(255,255,255);
}

.triangle-before:before{
content:'';
display: block;
position: absolute;
top:20px;
left:103px;
width:0px;
height:0px;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-right: 10px solid #FFF;
}

.triangle-after:after{
content:'';
display: block;
position: absolute;
top:20px;
right:103px;
width:0px;
height:0px;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 10px solid #FFF;
}

.presentation{
  font-size: 9px;
  text-align: center;
}

.carre{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.makeSomething{
  background-image: url("images/makeSomething.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 300px;
}

.fond{
  background-color: rgb(243,243,243);
  padding-top: 25px;
}

.fondBlanc{
  background-color: rgb(255,255,250);
  padding-top: 25px;
}

.fondFooter{
  background-color: rgb(38,40,47);
}

.footer{
  background-color: rgb(38,43,47);
  color: white;
}


.btn-blue{
  color:white;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-white{
  color:#337ab7;
  background-color: white;
  border-color: #337ab7;
}

.btn-black{
  color:white;
  background-color: #384345;
  border-color: #384845;
}
