.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .top-bar{
    border-bottom: 1px solid grey;
}

.navbar-default .top-bar ul {
  padding: 0px;
  margin: 0px;
  border-left: 1px solid grey;
}

.navbar-default .top-bar  ul li {
  display: inline-block;
  padding: 10px 15px;
  margin: 0px;
  font-size: 17px;
  border-right: 1px solid grey;
}

.navbar-default .navbar-right li{
  display: inline-block;
  padding: 10px 15px;
}

.navbar-default .navbar-left li{
  display: inline-block;
  margin-right: 50px;
}

.logo {
  width:200px;
  height:50px;
}
