.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.container {
    border-bottom: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.navbar .top-bar ul li {
  display: inline-block;
  border-right: 1px solid grey;
  padding: 10px 15px;
  margin: 0px;
  font-size: 17px;
}

.navbar .top-bar .container ul {
  padding: 0px;
  margin: 0px;
  border-left: 1px solid grey;
}
